*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    border: none;
    background: none;
}
body {
    font-family: 'Roboto';
    background: #2a2a2a;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: .75em;
    background: #fff;
    box-shadow: 0 0 5px 5px #707070;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fetch-form {
    margin: 0 auto;
    max-width: 80%;
}
.name-input {
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    padding: 0.5em;
    font-size: 1rem;
}
.button {
    background: #ec3;
    border:1px solid #111;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.button:hover {transform: scale(1.01);}
.button:active {transform: scale(.99);}
.answer {
    margin-top: 0.5em;
    text-align: center;
}