body {
    background-color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 4px 200px 5px 10px;
    border: 1px solid #000000;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    width: 80%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 103px;
}

input[type=text] {
    box-sizing: border-box;
    width: 95px;
    height: 33px;
    padding: 4px 62px 5px 10px;
    border: 1px solid #000000;
}

button {
    width: 39px;
    height: 33px;
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.all__results {
    margin-top: 20px;
    padding-left: 15px;
    border: 1px solid #000000;
    min-height: 200px;
}

.newResult {
    cursor: pointer;
    width: 100px;
    height: 33px;
    border: 1px solid #000000;
    margin-top: 10px;
}