body{
    background-color: #1E1E1E;;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    border-radius: 103px;
}

.calc{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}